<!doctype html>
<title>Tasks</title>
<style>
* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

table {
  width: 100%;
}

#main {
  display: flex;
  flex: 1;
}
#main > article {


  flex: 1;
}
#main > nav,
#main > aside {
  flex: 0 0 20vw;
  background: beige;
}
#main > nav {
  order: -1;
}
header, footer {
  background: yellowgreen;
  height: 5vh;
}
header, footer, article, nav, aside {
  padding: 1em;
}
</style>
<body>
<header>
    <table width="100%">
        <td><a href="/logout">Logout</a> </td>
        <td align="left">${username}</td>
        <td align="right">${admin}</td>
    </table>
</header>
<div id="main">
    <article>
        ${users}
        <hr>
        Новый пользователь:
        <form method="post" action="/editUsers">
            <table border="1">
            <tr>
                <td><input name="login" type="login" placeholder="login"></td>
                <td><input name="password" placeholder="password"></td>
                <td><input name="name" type="name" placeholder="name"></td>
                <td>
                    <select name="class">
                        <option>user</option>
                        <option>admin</option>
                        <option>limited</option>
                    </select>
                </td>
                <td><input name="action" type="submit" value="add"></td>
            </tr>
            </table>
        </form>
    </article>
    <nav>
        <form action="/tasks" method="POST">
            <p>Назначено на:</p>
            <select name="Assignee">
                ${Assignee}
            </select>
            <p>Статус:</p>
            <select name="Status">
                ${Status}
            </select>
            <p>Приоритет:</p>
            <select name="Priority">
                ${Priority}
            </select>
            <p>Проект:</p>
            <select name="Project">
                ${Project}
            </select>
            <input type="submit" value="Ok">
        </form>

    </nav>
    <!--<aside>Aside</aside> -->
</div>
<footer>${newTask}</footer>
</body>