<!doctype html>
<title>Example</title>
<style>
* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}

table {
  width: 100%;
}

#main {
  display: flex;
  flex: 1;
}
#main > article {


  flex: 1;
}
#main > nav,
#main > aside {
  flex: 0 0 20vw;
  background: beige;
}
#main > nav {
  order: -1;
}
header, footer {
  background: yellowgreen;
  height: 5vh;
}
header, footer, article, nav, aside {
  padding: 1em;
}
</style>
<body>
<header>Header</header>
<div id="main">
  <article>
    ${Tasks}
  </article>
  <nav>
    <form action="/tasks.html" method="POST">
    <p>Назначено на:</p>
    <select name="Assignee">
      ${Assignee}
    </select>
    <p>Статус:</p>
    <select name="Status">
      ${Status}
    </select>
    <p>Приоритет:</p>
    <select name="Priority">
      ${Priority}
    </select>
    <p>Проект:</p>
    <select name="Project">
      ${Project}
    </select>
      <input type="submit" value="Ok">
    </form>
  </nav>
  <!--<aside>Aside</aside> -->
  </div>
  <footer>Footer</footer>
  </body>